.elements{
    display: grid;
    grid-template-columns: repeat(3,282px);
    grid-template-rows: repeat(2,361);
    grid-gap: 17px 20px;
    
}
.element__image{
    width: 282px;
    height: 282px;
    border-radius: 20px 20px 0 0;
}

.element__delete-button{
    background-image: url(../images/Trash.svg);
    background-repeat: no-repeat;
    position: absolute;
    border: none;
    background-color: transparent;
    right: 15px;
    top: 18px;
    width: 18px;
    height: 19px;
    cursor: pointer;
}

.element__delete-button:hover{
    background-image: url(../images/TrashHolder.svg);
}

.element{
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 282px;
    background-color:#FFFFFF ;
}


.element__container{
    display: flex;
    color: #000000;
    font-size: 24px;
    font-weight: 900;
    align-items: center;
    justify-content: space-between;
    
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
    font-family: Inter;
    line-height: 100%;
    letter-spacing: 0%;
    
}

.element__container p{
    margin-left: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 33px;
    
}





.element__container-like{
    background-color: transparent;
    border: none;
    margin-right: 15px;
}



.element__container-like-img:hover{
    opacity: 50%;
    cursor: pointer;
}


@media screen and (min-width: 320px) and (max-width: 544px){
    .elements{
        grid-template-columns: 1fr;
    }
}