.header{
    display: flex;
    border-bottom: #545454;
    width: 880px;
    padding-top: 45px;
    
}

.header__logo{
    
   margin-bottom: 40px;
}

@media screen and (min-width: 320px) and (max-width: 544px){
    .header{
        width: 320px;
    }
}