.profile{
    padding-top: 40px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 880px;
}


.profile__avatar-button{
    border: none;
    background: transparent;
    z-index: 0;
    width: 130px;
    height: 120px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.profile__avatar-button:hover img{
    opacity: 0.3; 
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('../images/BotonEditar.svg') ;
}

.profile__avatar-button::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.5);
  background-image: url('../images/BotonEditar.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 26px;
  opacity: 0;
  transition: opacity 0.3s;
}

.profile__avatar-button:hover::after {
  opacity: 1;
}



.profile__avatar{
    object-fit: cover;
    width: 120px;
    height: 120px;
    border-radius: 50% ;
    margin: 0;
}
.profile__avatar img{
    transition: opacity 0.3s;
}

.profile__info{
    width: 415px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}


.profile__info-title{
    display: flex;
    align-items: center;
    margin-bottom:16px;
    gap: 18px;
    
}

.profile__info-name{
    margin: 0;
    font-weight: 500;
    font-family: "Inter", Arial, sans-serif;
    white-space: nowrap;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0%;


  
}
.profile__info-button{
    height: 24px;
    width: 24px;
    background-color:#000000 ;
    border-color: #fff;
    
} 

.profile__info-button:hover{
    opacity: 60%;
    cursor: pointer;
}


.profile__addButton{
    width: 150px;
    height:50px ;
    background-color:#000000 ;
    border-color: #fff;
  

}

.profile__addButton:hover{
    opacity: 60%;
    cursor: pointer;
}

.profile__info-subtitle{
    margin: 0;
    font-size: 18px;
}

@media screen and (min-width: 320px) and (max-width: 544px){
    .profile{
        flex-direction: column;

        width: 282px;
    }

    .profile__info{
        margin-top:30px ;
        margin-bottom: 36px;
        margin-left: 0;
        align-items: center;
        width: auto;
        
    }
    .profile__info-title{
        gap:10px;

    }
    .profile__info-name{
        font-size: 22px;
        
    }
    .profile__info-subtitle{
        font-size: 14px;
    }
    .profile__addButton{
        width: 282px;
    }
}

